<h2><%= @question.content %> <a href="/questions/"<%= @question.id %>/edit">(edit)</a></h2>

<h4><%= @question.created_at %></h4>



<h3>Answer</h3>

<ul>
    <%= @question.answers.each do |answer| %>
      <li>
        <%= link_to "#{answer.content} (#{answer.created_at})", myanswer_path(@question, @answer) %>
      </li>

    <% end %>

</ul>
