<!DOCTYPE html>
<html>
<head>
  <title>Magic 8 Ball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Magic Eight Ball</h1>

<img src="/images/magic8ball-closeup.jpg" alt="a billiard ball with an 8 on it." />

<!-- told to make sure following 2 lines are in the code for devise -->

  <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>



<!-- told to add following lines in devise setup -->
         <p class="navbar-text pull-right">
         <% if user_signed_in? %>
           Logged in as <strong><%= current_user.email %></strong>.
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
           <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
         <% else %>
           <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
           <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
         <% end %>

<!--told to add the following 6 lines above yield line by devise installation instructions -->
         <!-- <% if notice %>
           <p class="alert alert-success"><%= notice %></p>
         <% end %>
         <% if alert %>
           <p class="alert alert-danger"><%= alert %></p>
         <% end %> -->

<%= yield %>

</body>
</html>
